# Ignoring IDE files
/.vscode/

# Ignoring environment file
/.env

# Ignoring dependencies
/node_modules/
/vendor/

# Ignoring everything in /public, but index.php and assets
/public/**/*
!/public/assets/**/*
!/public/index.php
